name: Data Preprocessing Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy

      - name: Run Preprocessing Script
        run: |
          python preprocessing/automate_Muhamad_Naufal_Wijdan_P.py

      - name: Commit and Push Preprocessed Data
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # Mengambil file hasil dari folder preprocessing
          git add preprocessing/titanic_preprocessing.csv
          
          git commit -m "Update preprocessed data [skip ci]" || echo "No changes to commit"
          git push
